################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApplication1/.vs/WebApplication1
/WebApplication1/WebApplication1/bin/Debug/net8.0
/WebApplication1/WebApplication1/obj
